
.video-space-layout {
    font-size: 0;
}

.video-player-layout {
    display: inline-block;
    margin:0;
    padding:0;
}

.menu-space-layout {
    overflow-x: hidden;
    overflow-y: auto;
    /* Height set by Javascript */
}

.small-top-margin {
    margin-top: 20px;
}